.Team {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 20px;
  max-width: 1135px;
  max-height: 590px;
  width: 100%;
  background: #fff;
  border-radius: 25px;
  box-sizing: border-box;
}
