.Team {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: #fff;
  border-radius: 25px;
  box-sizing: border-box;

  &__wrapper {
    max-width: 1135px;
    max-height: 590px;
    width: 100%;
    margin: auto;
    position: relative;
  }
}
